<div class="row justify-content-md-center bg-light mb-3" style="margin-top: 50px">
    <div class="col-md-4 Roboto-font" style="margin-top: 70px">
        <h3>SAS Tourism Agency Welcomes you!</h3>
        <br>
        <h4>Create your favourite locations and share your experience!</h4>
    </div>
    <div class="col-md-4" style="margin-top: 50px">
        {{#if message}}
            <div class="alert {{messageClass}}" role="alert">
                {{message}}
            </div>
        {{/if}}
        <form method="POST" action="/newLocation">
            <div class="form-group">
                <label for="locationName"> Name :<sup>*</sup></label>
                <input name="locationName" type="text" class="form-control" id="locationName" required>
            </div>
            <div class="form-group">
                <label for="description">Description <sup>*</sup></label>
                <input name="description" type="textArea" class="form-control" id="description" required>
            </div>
            {{!-- <div class="form-group">
                <label for="image">Upload image :</label>
                <input type="file" name="uploadedfile"  class="form-control btn " id="file">
            </div> --}}
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>
